<h1>Parece que tenemos un problema!</h1>
<p>Error: {{error}}</p>
<p>Mensaje del Servidor: {{message}}</p>
<br>
<a href="/">Login</a><br>
<a href="/api/sessions/github">GitHub Login</a><br>
<a href="/register">Nuevo Registro</a><br>

