<h1>Mi Perfil</h1>
<p>Bienvenido!, {{user.first_name}} {{user.last_name}}!</p>
<br />
<form action="/api/users/logout" method="post">
  <button type="submit">Logout</button>
</form>
<br />

{{#if this.isAdmin}}
  <a href="/realtimeproducts">Modificar Productos</a>
  <br />
{{else}}
  {{#if this.isPremium}}
    <a href="/realtimeproducts">Modificar Productos</a>
    <br />
  {{/if}}
  <a href="/chat">Chat en vivo</a>
  <br />
  <a href="/products">Tienda</a>
  <br />
{{/if}}